.logo {
    display: flex;
    align-items: center;
    height: 8rem;

    &__img{
        width: 3.4rem;
    height: 3.4rem;
    border-radius: 10px;
    }

    &__title{
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 1.25rem;
    }

}