.small-posts {
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
}

.small-post {
    display: flex;
    height: 9rem;
    margin: 0 2.5rem;

    &__img{
        width: 12rem;
    height: 100%;
    border-radius: 20px;
    }
}
